table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
img {
  width: 50px;
}
input,
select {
  margin: 10px 5px;
  padding: 5px;
}
